---
import { getSortedContentFromCollection } from "@/utils/content";
import { type ExperienceFrontmatter } from "@/types/collections";
import { getEntries } from "astro:content";

const allExperienceContent =
  await getSortedContentFromCollection<ExperienceFrontmatter>(
    "experience",
    "Published"
  ).then((experiences) => {
    return Promise.all(
      experiences.map(async (experience) => {
        const technologies = await getEntries(experience.Technologies);
        return {
          ...experience,
          Technologies: technologies,
        };
      })
    );
  });
// console.log(allExperienceContent);
---

<h2>Experience</h2>
<section>
  {
    allExperienceContent.map((experience) => (
      <div>
        <h3>{experience.Company}</h3>
        <p>
          <em>{experience.Title}</em>
          <span>{experience.Date}</span>
        </p>
        <experience.Content />
        <ul>
          <li>
            <strong>
            Tech Stack:
            </strong>
            {experience.Technologies.map((technology) => (
              <a href={technology.data.URL} target="_blank">
                {technology.data.Title.trim()}
              </a>
              <span>&nbsp;</span>
            ))}
          </li>
        </ul>
      </div>
    ))
  }
  </section>
